/*重置默认样式*/

blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0;
    color: #333;
}

body,
button,
input,
select,
textarea,
pre {
    font: 12px/1.5 arial, microsoft yahei, tahoma, sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%
}

address,
cite,
dfn,
em,
var {
    font-style: normal
}

code,
kbd,
pre,
samp {
    font-family: courier new, courier, monospace
}

small {
    font-size: 12px
}

ol,
ul {
    list-style: none
}

a {
    text-decoration: none
}

sup {
    vertical-align: text-top
}

sub {
    vertical-align: text-bottom
}

legend {
    color: #000
}

fieldset,
img {
    border: 0
}

button,
input,
select,
textarea {
    font-size: 100%
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a {
    -webkit-tap-highlight-color: transparent;
}

input {
    -webkit-tap-highlight-color: transparent;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix {
    zoom: 1;
    &:after {
        content: '';
        display: block;
        clear: both;
        visibility: hidden;
    }
}

.hide {
    display: none !important;
}

&.fade-enter-active,
&.fade-leave-active {
    transition: all 0.5s ease
}

&.fade-enter,
&.fade-leave-active {
    opacity: 0
}

/*横向*/
.row-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.row-flex-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/*纵向*/
.column-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.jc {
    justify-content: center;
}
.jsb {
    justify-content: space-between;
}
.jfs {
    justify-content: flex-start;
}
.jfe {
    justify-content: flex-end;
}
.ac {
    align-items: center;
}
.afs {
    align-items: flex-start;
}
.afe {
    align-items: flex-start;
}
.c-gray777{
    color: #777;
}
.c-red {
    color: #FF4141;
}
.l-t {
    text-decoration: line-through;
}
.elps{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.t-a-c {
    text-align: center;
}
.ff-r{
    font-family: PingFangSC-Regular;
}
.ff-m{
    font-family:PingFangSC-Medium;
}
.ff-l{
    font-family:PingFangSC-Light;
}
.ff-s {
    font-family:PingFangSC-Semibold;
}